main {
    max-width: 700px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    cursor: url('./cursor.png'), auto;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.navbar {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #5d5d5d;
    padding: 22;
}

.navbar ul {
    list-style-type: none;
    background-color: #5d5d5d;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease-in-out; 
}

.navbar a:hover {
    background-color: #ababab;
    cursor: url(ballcursor.png), auto;
    border: 2px solid #ababab;
    transition: background-color 0.3s ease-in-out; 
}

.navbar li {
    float: right;
}

main {
    flex: 1;
}

footer {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5d5d5d;
    color: white;
    padding: 10px;
    text-align: center;
}

.Background {
    background-repeat: no-repeat;
    background-size: cover;
}

.Title {
   display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #414141;
    background-size: 100% 50px;
    padding: 20px;
    margin: 0;
    color: white;
}

.Textington {
    font-size: xx-large;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    min-height: 100px;
}

.logo{
    height: 60px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}